/rtl/hdl/ip_repo/*/*/*/*/**

#/rtl/bd/mststa_mpsoc_v2/*/**
/rtl/bd/mststa_mpsoc_v2/*
!/rtl/bd/mststa_mpsoc_v2/*.bd

/syn/emcc_mst/emcc_mst.cache/*
/syn/emcc_mst/emcc_mst.ip_user_files/*
/syn/emcc_mst/emcc_mst.runs/*
/syn/emcc_mst/emcc_mst.hw/*
#/syn/emcc_mst/emcc_mst.sim/sim_1/behav/modelsim/*/**
/syn/emcc_mst/emcc_mst.sim/sim_1/behav/xsim/*

/syn/emcc_mst/emcc_mst.sim/sim_1/behav/modelsim/*
!/syn/emcc_mst/emcc_mst.sim/sim_1/behav/modelsim/do_wave.do

/rtl/hdl/ip_repo/mst_sta/ip/aurora_8b10b_0/*
!/rtl/hdl/ip_repo/mst_sta/ip/aurora_8b10b_0/*.xci

/rtl/hdl/ip_repo/mst_sta/ip/aurora_8b10b_1/*
!/rtl/hdl/ip_repo/mst_sta/ip/aurora_8b10b_1/*.xci

/rtl/hdl/ip_repo/mst_sta/ip/aurora_mmcm/*
!/rtl/hdl/ip_repo/mst_sta/ip/aurora_mmcm/*.xci

/rtl/hdl/ip_repo/mst_sta/ip/BFIFO_1024X36b/*
!/rtl/hdl/ip_repo/mst_sta/ip/BFIFO_1024X36b/*.xci

/rtl/hdl/ip_repo/mst_sta/ip/SDPBRAM_1024x32b/*
!/rtl/hdl/ip_repo/mst_sta/ip/SDPBRAM_1024x32b/*.xci

/rtl/hdl/ip_repo/mst_sta/ip/DSP_sumAD_multC_plusC/*
!/rtl/hdl/ip_repo/mst_sta/ip/DSP_sumAD_multC_plusC/*.xci

/rtl/hdl/ip_repo/mst_sta/ip/TDPBRAM_512x16b/*
!/rtl/hdl/ip_repo/mst_sta/ip/TDPBRAM_512x16b/*.xci

/rtl/hdl/ip_repo/mst_sta/ip/TDPBRAM_512x32b/*
!/rtl/hdl/ip_repo/mst_sta/ip/TDPBRAM_512x32b/*.xci

/rtl/hdl/ip_repo/mst_sta/ip/TDPBRAM_4096x32b/*
!/rtl/hdl/ip_repo/mst_sta/ip/TDPBRAM_4096x32b/*.xci

/rtl/hdl/ip_repo/mst_sta/ip/TDPBRAM_16384x32b/*
!/rtl/hdl/ip_repo/mst_sta/ip/TDPBRAM_16384x32b/*.xci


*.bxml
*.bin
*.prm
*.log
*.jou
*.buckup.log
*.buckup.jou
*netlist.v
*netlist.vhdl
*.xml
*.veo
*.vho
*_stub.v
*_stub.vhdl
*.str