*.bxml
*.bin
*.prm
*.log
*.jou
*.buckup.log
*.buckup.jou
*netlist.v
*netlist.vhdl
*.xml
*.veo
*.vho
*_stub.v
*_stub.vhdl
*.str

/ip/**
!/ip/**/
!/ip/**/*.xci
/ip/**/ip_*/**/*.xci
!/ip/mststa_mpsoc_v2/mststa_mpsoc_v2.bd
/ip/mststa_mpsoc_v2/**/*.xci

.Xil
/syn/**/**.runs
/syn/**/**.cache
/syn/**/**.ip_user_files
/syn/**/**.hw
/syn/**/**.sdk

/syn/**/**.sim/**
!/syn/**/**.sim/**/
!/syn/**/**.sim/**/**/**/wave.do

/syn/src/**

*.zip